*{
    margin: 0px;
    padding: 0px;
    font-family: 'Roboto', sans-serif;
}
.main-menu{
    background-image: url("port.jpg");
    background-size: cover;
    height: 100vh;
}
.btn-one i{
    position: absolute;
    font-size: 30px;
    left: 20px;
    top: 15px;
    color: white;
    cursor: pointer;
}
.sideber-menu{
  position: fixed;
  height: 70%;
  width: 300px;
  /* background-color: rgba(255, 255, 255, 0.1); */
  background-image: url("jk.jpg");
  background-size: cover;
  box-shadow: 0 0 6px white;
  left: -360px;
  transition: all 0.3s linear;
}
.sideber-menu .logo{
    position: absolute;
    width: 100%;
    line-height: 60px;
    height: 80px;
    background-color: rgba(255, 255, 255, 0.1);
    box-shadow: 0 0 4x white;
}
.sideber-menu .logo a{
    color: white;
    position: absolute;
     left: 39px;
     font-size: 35px;
     text-decoration: none;
     font-family: 'Bungee Spice', cursive;
}
.sideber-menu .btn-two i{
    color: white;
    position: absolute;
    font-size: 20px;
    left: 270px;
    top: 15px;
    opacity: 0;
    cursor: pointer;
}
.sideber-menu .menu{
    position: absolute;
    top: 80px;
    width: 100%;
}
.sideber-menu .menu li{
  margin-top: 20px;
  padding: 10px 20px;
}
#check{
    display: none;
}
.sideber-menu .menu li i,a{
    color: white;
    text-decoration: none;
    font-size: 25px;
}
.social-media .menu li i{
    padding: 10px;
}
.sideber-menu .social-media {
   position: absolute;
   color: white;
   opacity: 0.5;
   bottom: 20px;
   left: 10px;
}
.sideber-menu .social-media a{
    padding: 10px;
}
.sideber-menu .menu li:hover{
    box-shadow: 0 0 4px white;
}
.menu .btn-one i:hover{
    font-size: 40px;
}
.sideber-menu .btn-two i:hover{
    font-size: 25px;
}
.sideber-menu .social-media i:hover{
    transform: scale(1.2);
    opacity: 1;
}
#check:checked~.sideber-menu{
    left: 0;
}
#check:checked~.btn-one i{
    opacity: 0;
}
#check:checked~.sideber-menu .btn-two i{
    opacity: 1;
}
.sideber-menu .logo a b{
    font-size: 16px;
    color: yellow;
}
.main-menu .Portfolio a h1{
    position: absolute;
    left: 40%;
    color: white;
    font-size: 40px;
    font-family: 'Russo One', sans-serif;
    letter-spacing: 1.6px;
    animation: color 2s linear 1s infinite normal;
}
@keyframes color{
    0%{
        color: red;
    }
    10%{
        color: chartreuse;
    }
    20%{
        color: coral;
    }
    30%{
        color: fuchsia;
    }
    40%{
        color: hotpink;
    }
    50%{
        color: green;
    }
    60%{
        color: rebeccapurple;
    }
    70%{
        color: palegreen;
    }
    80%{
        color: fuchsia;
    }
    90%{
        color: turquoise;
    }
    100%{
        color: blue;
    }
}

 .main-menu .img{
    position: absolute;
    left: 620px;
    bottom:140px ;
    /* top: 60px; */
    background-image: url("tan.jpg.png");
    background-size: cover;
    height: 600px;
    width: 900px;
 }
 .main-menu .about {
    position: absolute;
    top: 170px;
    bottom: 70px;
    left: 310px;
   
 }
 .main-menu .about p{
    color:whitesmoke;
    line-height: 39px;
    font-size: 26px;
    font-weight: 700;
    letter-spacing: 1.3px;
    font-family: 'Abril Fatface', cursive;

 }
 .main-menu .about p::first-line{
    color:rgb(34, 255, 0);
    font-size: 40px ;
    font-family: 'Moirai One', cursive;
 }
 .main-menu .about p i{
    color:yellow;
    font-family: 'Abril Fatface', cursive;

 }
.main-menu .haha{
    position: absolute;
    left: 350px;
    bottom: 40px;
}
.main-menu .haha  h1{
    font-size: 40px;
    font-weight: 900px;
    color: white;
    cursor: pointer;

    animation: all 0.2s linear 0s infinite normal;

 }

 @keyframes all{
    0%{
        color: violet;
    }
    17%{
        color: indigo;
    }
    34%{
        color: blue;
    }
    51%{
        color: green;
    }
    68%{
        color: yellow;
    }
    85%{
        color: orange;
    }
    100%{
        color: red;
    }
 }


    
 